@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Figtree";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/figtree-v6-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Figtree";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/figtree-v6-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #111111;
}

body {
  background-color: #f4d04e;
  font-family: "Figtree";
}

.card {
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 110px;
  border-radius: 20px;
  background-color: #fff;
  padding: 24px;
  max-width: 384px;
  width: 100%;
  height: 522px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-shadow: 16px 16px 0px 0px #000000;
}
.card__image {
  width: 336px;
  height: 200px;
}

.card__texts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card__button {
  width: 82px;
  height: 29px;
  padding: 4px 12px;
  background-color: #f4d04e;
  font-size: 14px;
  font-weight: 800;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.card__time {
  color: #111111;
}
.card__title {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}
.card__title:hover {
  color: #f4d04e;
}
.card__subtitle {
  color: #7f7f7f;
}
.card__user {
  display: flex;
  align-items: center;
  gap: 12px;
}
.card__user-logo {
}
.card__user-title {
}
